      <div id="{{gridId}}_container" class="custom_table_container">
        <div class="custom_table_header">
          <div class="number_of_register_per_page_container">
            Exibir
            <select
              id="{{gridId}}_select"
              class="form-select custom_select_table"
              name="number_registers"
            >
              <option value="5" {% if #.PageSize == 5 %}selected{% endif %}>5</option>
              <option value="10" {% if #.PageSize == 10 %}selected{% endif %}>10</option>
            </select>
            registros
          </div>
          <div clss="search_in_grid_container">
            <label>Pesquisar:</label>
            <input class="grid_search_input" type="text"></input>
          </div>
        </div>

        <div class="custom_table_data">
          <table id="{{gridId}}_table" class="custom_table">
            <thead>
              <tr>
                <th>Unidade de Saúde</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Referência</th>
              </tr>
            </thead>
            <tbody>
              {% for r in #.Results %}
                <tr>
                  <td>{{ r.Nome }}</td>
                  <td>{{ r.Endereco }}</td>
                  <td>{{ r.Bairro }}</td>
                  <td>{{ r.Cidade }}</td>
                  <td>NULL</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="custom_table_footer">
          <div class="custom_table_counter">
            Exibindo página
            <span id="{{gridId}}_current_page">{{ #.PageNumber }}</span>
            de
            <span id="{{gridId}}_total_pages">{{ #.TotalNumberOfPages }}</span>
            páginas, totalizando
            <span id="{{gridId}}_total_records">{{ #.TotalNumberOfRecords }}</span>
            registros
          </div>

          <div class="custom_table_command_container">
            <button id="{{gridId}}_refresh" class="custom_table_btn is_hidden">Refresh</button>
            <button id="{{gridId}}_prev"    class="custom_table_btn">Anterior</button>
            <div class="custom_table_number_container">
              <div id="{{gridId}}_num_1" class="table_numerator is_selected">1</div>
              <div id="{{gridId}}_num_2" class="table_numerator">2</div>
              <div id="{{gridId}}_num_3" class="table_numerator">3</div>
              <div id="{{gridId}}_num_4" class="table_numerator">4</div>
              <div id="{{gridId}}_num_5" class="table_numerator">{{ #.TotalNumberOfPages }}</div>
            </div>
            <button id="{{gridId}}_next"   class="custom_table_btn">Próximo</button>
          </div>
        </div>
      </div>